article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  background-color: #87509c; }

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 14.7%;
  margin-right: 13.5%;
  padding-top: 57px; }
  header nav ul {
    padding: 0;
    list-style-type: none; }

header nav ul li:hover {
  background-color: #643a79;
  padding: 8px 15px;
  border-radius: 4px; }

header nav ul li:not(:last-of-type) {
  margin-right: 43px; }

.secondaryNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase; }

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 145px; }

h1 {
  color: #f7f3eb;
  font-size: 42.16px;
  font-weight: 700;
  text-align: center;
  margin-top: 145px;
  width: 62.9%;
  padding-bottom: 54px; }

.headerButton {
  background-color: #eb7d4b; }

.servicesSection {
  background-color: #17c2a4; }

.servicesDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 118px;
  padding: 0 14.2%; }

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 128px; }

.service:not(:last-of-type) {
  margin-right: 97px; }

.serviceImage {
  width: 150px;
  height: 150px; }

.service h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 27px; }

.service h3:last-of-type {
  white-space: nowrap; }

.service p {
  font-size: 16px;
  margin-top: 0; }

.service h3, p {
  text-align: center;
  color: #ffffff; }

.teamSection {
  background-color: #e7f1f8;
  padding-bottom: 128px; }

.teamSection h2, .teamSection .h2Text {
  color: #3c4661; }

.teamDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 13.9%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 78px; }

.teamMember {
  width: 25%; }

.teamMember {
  margin: 0 5.6%; }

.teamDiv h3 {
  color: #27283d;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0; }

.teamDiv h3:first-of-type {
  white-space: nowrap; }

.teamDiv h4 {
  color: #30bae7;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 15px; }

.teamDiv p {
  color: #3c4761;
  font-size: 16px;
  text-align: center; }

.socialMediaIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.socialMediaIcons img:not(:last-of-type) {
  margin-right: 12px; }

.skillsSection {
  background-color: #ffffff;
  padding-bottom: 122px; }
  .skillsSection h2, .skillsSection .h2Text, .skillsSection .percentage, .skillsSection .skillTitle {
    color: #3c4761; }

.skillsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.skillContainer:not(:last-of-type) {
  margin-right: 120px;
  margin-left: 0; }

.skillVisual {
  background-repeat: no-repeat;
  background-size: cover;
  width: 160px;
  height: 160px;
  z-index: -1; }

.skillVisual1 {
  background-image: url("../../assets/progressBlue.png"); }

.skillVisual2 {
  background-image: url("../../assets/progressPink.png"); }

.skillVisual3 {
  background-image: url("../../assets/progressGreen.png"); }

.skillVisual4 {
  background-image: url("../../assets/progressOrange.png"); }

.percentage {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px; }

.skillTitle {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px; }

.portfolioSection {
  background-color: #ffdd99; }

.portfolioSection h2, .portfolioSection .h2Text, .portfolioSection h3 {
  color: #393939; }

.portfolioNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 42px;
  margin-bottom: 65px; }
  .portfolioNav li {
    text-transform: uppercase; }
  .portfolioNav button {
    border: none;
    background-color: rgba(0, 0, 0, 0.08);
    width: 84px;
    height: 38px;
    border-radius: 4px; }

.portfolioNav button:hover {
  background-color: #ffffff; }

.portfolioNav button:not(:last-of-type) {
  margin-right: 10px; }

.portfolioDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .portfolioDiv h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    text-align: center; }

.portfolio {
  margin-bottom: 64px; }

.portfolioLeft {
  margin-right: 20px; }

.testimonialSection {
  background-color: #d74680; }

.testimonialsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 133px;
  margin-top: 82px; }

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin-bottom: 158px; }

.circle {
  background-color: #787878;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: inline-block; }

.testimonialText {
  width: 70%;
  padding-left: 48px; }

.testimonial h3, .quote, .quoteAuthorPosition {
  text-align: left;
  margin: 0; }

.quote {
  font-style: italic;
  margin-bottom: 28px;
  font-size: 21px; }

.testimonialText h3 {
  text-transform: uppercase;
  margin-bottom: 9px;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: 700; }

.quoteAuthorPosition {
  color: #ffdd99;
  font-size: 18px; }

footer {
  background-color: #3c5499; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 76px;
  margin-bottom: 115px; }

input[type=text] {
  width: 414px;
  height: 56px;
  border-radius: 4px;
  border: none;
  background-color: #273a71;
  margin-bottom: 27px; }

.formName {
  margin-right: 32px; }

textarea {
  border-radius: 4px;
  background-color: #273a71;
  width: 860px;
  height: 200px;
  border: none;
  margin-bottom: 59px; }

::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 18px;
  padding-left: 25px;
  padding-top: 22px;
  padding-bottom: 20px; }

:-ms-input-placeholder {
  color: #ffffff;
  font-size: 18px;
  padding-left: 25px;
  padding-top: 22px;
  padding-bottom: 20px; }

::placeholder {
  color: #ffffff;
  font-size: 18px;
  padding-left: 25px;
  padding-top: 22px;
  padding-bottom: 20px; }

.formButton {
  background-color: #30bae7;
  margin-top: 59px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 48px 0;
  background-color: #344b8e; }
  .footerNav li {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600; }

.footerNav li:not(:last-of-type) {
  margin-right: 52px; }

.facebook:hover {
  color: #6b7ab1; }

.twitter:hover {
  color: #1da1f2; }

.google:hover {
  color: #db5146; }

.linkedin:hover {
  color: #0274b3; }

.behance:hover {
  color: #005cff; }

.dribbble:hover {
  color: #ea4c89; }

.github:hover {
  color: #171515; }

body {
  margin: 0 auto;
  max-width: 100%;
  font-family: 'Titillium Web', sans-serif; }

h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 48px;
  margin-top: 0;
  padding-top: 119px;
  text-transform: uppercase; }

h2:after {
  display: block;
  content: '';
  position: absolute;
  margin-top: 21px;
  margin-bottom: 23px;
  left: 47%;
  background-color: rgba(0, 0, 0, 0.15);
  width: 87px;
  height: 4px; }

.h2Text {
  font-size: 18px;
  font-weight: 400; }

h2, .h2Text {
  color: #ffffff;
  text-align: center; }

.buttonGeneral {
  width: 293px;
  height: 70px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600; }
