article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  background-color: #87509c; }

.headerContent {
  padding-bottom: 145px;
  -webkit-transform: translateX(20%);
          transform: translateX(20%); }

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 57px; }
  .headerNav ul {
    list-style-type: none; }

.headerNav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-left: 500px; }
  .headerNav2 li {
    margin-right: 45px;
    font-style: 16px;
    text-transform: uppercase; }
  .headerNav2 a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400; }

.headerButton {
  background-color: #eb7d4b; }

.services {
  background-color: #17c2a4;
  max-width: 100%; }

.servicesContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.serviceInfo {
  max-width: 33.3%;
  margin-bottom: 128px; }
  .serviceInfo p, .serviceInfo h3 {
    color: #ffffff;
    text-align: center; }
  .serviceInfo h3 {
    font-size: 24px;
    margin-bottom: 27px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    white-space: nowrap; }
  .serviceInfo p {
    font-size: 16px;
    margin-top: 0; }

.serviceImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 62px; }

.service1 {
  margin-left: 204px;
  margin-right: 97px; }

.service2 {
  margin-right: 95px; }

.service3 {
  margin-right: 88px; }

.service4 {
  margin-right: 205px; }

.team {
  background-color: #e7f1f8; }
  .team h2, .team .teamLorem {
    color: #3c4661; }

.teamInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.teamMember {
  max-width: 25%;
  margin-bottom: 128px; }

.circle {
  border-radius: 50%;
  background-color: #878787;
  width: 200px;
  height: 200px; }

.teamInfo h3, h4, p {
  text-align: center; }

.teamInfo h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 18px; }

.teamInfo h4 {
  color: #30bae7;
  font-size: 16px;
  font-weight: 400; }

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.socialIcon {
  margin-right: 12px; }

.socialIconLast {
  margin-right: 0; }

.skills {
  background-color: #ffffff;
  padding-bottom: 122px; }
  .skills h2, .skills .skillsInfo {
    color: #3c4761; }

.skillsStats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.statVisual h3 {
  text-align: center;
  text-transform: uppercase;
  color: #3c4761;
  font-size: 24px;
  letter-spacing: 2px;
  white-space: nowrap; }

.statVisual {
  line-height: 1; }

.statVisual1, .statVisual2, .statVisual3 {
  margin-right: 120px; }

.statVisual1 {
  margin-left: 220px; }

.statVisual4 {
  margin-right: 220px; }

.skillsImage {
  z-index: -1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.percentage {
  text-align: center;
  position: relative;
  top: 24%;
  left: 4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px; }

.percentage70 {
  left: -8%; }

.portfolio {
  background-color: #ffdd99;
  padding-bottom: 109px; }
  .portfolio .headerInfo {
    margin-bottom: 42px; }
  .portfolio h2, .portfolio p, .portfolio a {
    color: #393939; }
  .portfolio p {
    font-size: 18px; }

.portfolio nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .portfolio nav button {
    width: 84px;
    height: 38px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.08);
    border-color: transparent;
    margin-right: 10px; }
  .portfolio nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    max-width: 25%;
    padding: 0; }
  .portfolio nav a {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none; }

.portfolio nav button:hover {
  background-color: #ffffff; }

.portfolioSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 65px; }

.portfolios {
  margin-right: 20px; }
  .portfolios p {
    font-size: 18px;
    text-transform: uppercase;
    color: #393939; }

.portfolioLine1 {
  margin-bottom: 65px; }

.portfolioLine2 {
  margin-bottom: 83px; }

.projectsButton {
  background-color: #17c2a4;
  margin-bottom: 109px; }

.testimonials {
  background-color: #d74680; }
  .testimonials h2 {
    color: #ffffff; }

.testimonialQuotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto; }

.testimonialInfo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.testimonialLine1 {
  margin-bottom: 158px; }

.testimonialLine2 {
  margin-bottom: 133px; }

.circleSmall {
  border-radius: 50%;
  background-color: #787878;
  width: 96px;
  height: 96px; }

.quote {
  line-height: 0;
  margin-left: 48px;
  line-height: 26px; }
  .quote p {
    display: inline-block;
    text-align: left;
    margin: 0; }
  .quote h3 {
    margin: 0;
    margin-top: 28px;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    color: #ffffff;
    line-height: 26px; }

.quoteText {
  color: #ffffff;
  font-size: 21px;
  font-style: italic; }

.quoteAuthor {
  color: #ffdd99;
  font-size: 18px;
  font-weight: 400; }

.quoteLeft, .quoteRight {
  width: 50%; }
  .quoteLeft .quoteLeft, .quoteRight .quoteLeft {
    margin-right: 118px; }
  .quoteLeft .quoteRight, .quoteRight .quoteRight {
    margin-right: 0; }

footer {
  background-color: #3c5499; }
  footer h2, footer p, footer ::-webkit-input-placeholder {
    color: #ffffff; }
  footer h2, footer p, footer :-ms-input-placeholder {
    color: #ffffff; }
  footer h2, footer p, footer ::placeholder {
    color: #ffffff; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 115px; }

.contactNameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

input[type=text] {
  width: 414px;
  height: 56px;
  margin-bottom: 27px;
  background-color: #273a71;
  border-radius: 4px;
  border: none;
  padding-top: 22px;
  padding-bottom: 20px;
  padding-left: 25px;
  font-size: 18px; }

.inputName {
  margin-right: 32px; }

textarea {
  width: 860px;
  height: 200px;
  margin-bottom: 59px;
  background-color: #273a71;
  border-radius: 4px;
  border: none;
  font-size: 18px; }

.yourMessage {
  padding-top: 24px;
  padding-left: 25px; }

.contactButton {
  background-color: #30bae7;
  margin-bottom: 115px; }

.footerNav {
  background-color: #344b8e; }
  .footerNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 48px;
    padding-bottom: 41px; }
  .footerNav li {
    list-style-type: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600; }

.footerNav ul li:not(:last-of-type) {
  margin-right: 58px; }

.facebook:hover {
  color: #6b7ab1; }

.twitter:hover {
  color: #1da1f2; }

.google:hover {
  color: #dc4a38; }

.linkedin:hover {
  color: #0274b3; }

.behance:hover {
  color: #005cff; }

.dribbble:hover {
  color: #ea4c89; }

.github:hover {
  color: #171515; }

body {
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif; }

h1 {
  font-size: 42.16px;
  color: #f7f3eb;
  margin-top: 156px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700; }

h2 {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  padding-top: 120px;
  margin-top: 0;
  padding-top: 119px;
  margin-bottom: 47px;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-weight: 700; }

h2:after {
  display: block;
  content: '';
  position: absolute;
  left: 47%;
  background-color: rgba(31, 31, 31, 0.3);
  width: 87px;
  height: 4px;
  margin-bottom: 23px;
  margin-top: 21px; }

.headerInfo {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  margin-bottom: 79px; }

.primaryButton {
  border-radius: 4px;
  width: 293px;
  height: 70px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 1px; }

.primaryButton:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 2px 2px 2px slategrey;
          box-shadow: 2px 2px 2px slategrey; }
